Source: hello-flossday-ng
Section: misc
Priority: optional
Maintainer: Tiago Bortoletto Vaz <tiago@debian.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)

Package: hello-flossday-ng
Architecture: all
Depends: python3
Description: Vanier FLOSS Day hello world
 A package written in Python that prints a reversed greeting.
 .
 Made for Vanier FLOSS Day 2024.
